html {
	scroll-behavior: smooth;
  }

  .profile{
  display: inline;
  max-width:100%;
  border-radius: 15px;
  }

  .black{
	color: black;
  }

  .items{
  padding: 6px;
  cursor: pointer;
  margin: 10px 0px 0px 20px;
  }

  .black:hover{
  color: #54751E;
  }

  .extrabold .parta{
  margin-top: 10%;
  }

	.catchline{
  margin-top: 10%
  }

  .parta{
  padding-bottom: 3%;
  max-width: 90%;
  }

  .space{
  padding-bottom: 3%;
  }

  .space2{
  padding-bottom: 1%;
  }

  .space3{
  padding: 1.5% 1% 0%;
  }

  .space4{
  padding: 2%;
  }

  .xl{
  font-size: x-large;
  }

  .la{
  font-size: large;
  }

/*Filter*/

.btnn{
  border: none;
  outline: none;
  cursor: pointer;
  background-color: white;
}

.filters .btnn {
    color: #000;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
  }
  
.filters .btnn:hover, .filters .btnn:focus, .filters .btnn:active {
    text-decoration: none;
    color:#54751E;
  }
  
.filters .btnn:hover:before {
    content: "";
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 0;
    height: 1px;
    background-color: #000;
  }
  
.filters .btnn.active {
    color: #000;
  }

  .filters .btnn.active:before {
    content: "";
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 0;
    height: 1px;
    background-color: #000;
  }

.filterDiv {
    float: left;
    color: #ffffff;
    width: 100px;
    line-height: 100px;
    text-align: center;
    margin: 2px;
    display: none;
}
  
.show {
    display: block;
}

/*Profile Cards*/
.profile-card-5{
  margin-top:20px;
}

.profile-card-5 .card-img-block {
  width: 91%;
  margin: 0 auto;
  position: relative;
  top: -20px;
  
}
.profile-card-5 .card-img-block img{
  border-radius:5px;
  box-shadow:0 0 10px rgba(0,0,0,0.63);
}
.profile-card-5 h5{
  color:black;
  font-weight:600;
}
.profile-card-5 p{
  font-size:14px;
  font-weight:400;
}
.profile-card-5 .btn-primary{
  background-color:#54751E;
  border-color:#54751E;
}

  .buttona a{
  color: black;
  font-size : 14pt;
  }

  .buttona a:hover{
  color:#54751E;
  font-size : 18pt;
  text-decoration: none;
  }

@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight:wght@400;700&display=swap');
.font{
  font-family: 'Zilla Slab Highlight', cursive;
  font-size: 14pt;
}

.font:hover{
  font-size:16pt;
}

@media(max-width: 990px){
  .profile-card-5{
	  margin-bottom: 5vw;
  }
  .partb{
	  margin-left:2vw;
  }
}

.link{
  text-decoration: none;
  color:#54751E;
}

.link:hover{
  color: black;
}

.link2{
  background: black
  color: white
}

.link2:hover{
  background: #54751E;
}

.screen{
  max-width: 600px;
}

.diagram{
  max-width: 1000px;
}

.flex-container {
display: flex;
flex-direction: row;
justify-content: center;
}

.flex-item-left {
flex: 50%;
}

.flex-item-right {
flex: 50%;
}

@media (max-width: 800px) {
.flex-container {
  flex-direction: column;
}
}

.bg{
  background-color: #F0F0F0;
  padding: 5%;
}

.figma{
	  width: 1000px;
	  margin: auto;
	  height: 100%;
	  display: flex;
	  flex-direction: row;
		justify-content: center;
	}

.scrollToTopBtn {
	  background-color: black;
	  border: none;
	  border-radius: 50%;
	  color: white;
	  cursor: pointer;
	  font-size: 16px;
	  line-height: 48px;
	  width: 48px;
	  
	  /* place it at the bottom right corner */
	  position: fixed;
	  bottom: 30px;
	  right: 30px;
	  /* keep it at the top of everything else */
	  z-index: 100;
	  /* hide with opacity */
	  opacity: 0;
	  /* also add a translate effect */
	  transform: translateY(100px);
	  /* and a transition */
	  transition: all .5s ease
	}
		
.showBtn {
	  opacity: 1;
	  transform: translateY(0)
	}

.footer{
  background-color: darkgray;
  color: white;
}

.center{
  text-align: center;
  padding-top: 1.5%;
}

/* Fonts */

.regular{
  font-family: 'Manrope', sans-serif;
  font-weight: 600;	
  }

.extrabold{
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
  }

.mont1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
